$marginRight: 15px;
 
#shareInputWrapper{
    position: relative;
    background: #1F1F1F;
    width: 80%;
    .imgWrapper{
        position: relative;
        background: #404040;
        border-left: .2px solid #1F1F1F;
    }
    .imgContent {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 3px 5px 3px;
        span{
            position: relative;
            width: 150px;
            height: 150px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: inline-block;
            margin: 0 $marginRight 5px 0;
            i{
                position: absolute;
                right:  0px;
            }
        }
     
    }
}
textarea{
    resize: none;
    background: #404040 !important;
    border: 1px solid #000000 !important;
    border-radius: 1px !important;
    color: white !important;
}

#shareInputWrapper  > div:nth-child(1){
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.contentBorder{
    border: 1px solid #000;
}

#shareInputWrapper .postButton{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}