#posts {
  width: 65%; }
  #posts .insertTag {
    color: red;
    text-align: center;
    font-size: 15px;
    border: 1px solid #404040;
    padding: 7px 0; }
  #posts .postWrapper {
    padding: 15px 0px;
    background: #2E2E2E;
    margin: 20px 0px;
    padding: 10px 20px 10px 20px; }
    #posts .postWrapper .title {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5px 0px; }
      #posts .postWrapper .title .textWrapper {
        position: relative;
        display: inline-block;
        margin-left: 8px; }
        #posts .postWrapper .title .textWrapper p.username {
          font-size: 15px;
          color: #fff; }
        #posts .postWrapper .title .textWrapper p.time {
          font-size: 12px;
          color: #51646B; }
    #posts .postWrapper .text {
      padding: 6px 0px; }
      #posts .postWrapper .text span {
        color: #A6A6A6;
        font-size: 18px; }
    #posts .postWrapper .imgsWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap; }
      #posts .postWrapper .imgsWrapper img {
        position: relative;
        width: 150px;
        height: 150px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 15px 5px 0;
        background-image: url("../assets/psb.jpg"); }
    #posts .postWrapper .remarkWrapper {
      position: relative;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #posts .postWrapper .remarkWrapper .iconsWrapper {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center; }
        #posts .postWrapper .remarkWrapper .iconsWrapper span {
          width: 24px;
          height: 24px;
          background-size: 24px 24px;
          display: inline-block;
          margin-left: 55px; }
          #posts .postWrapper .remarkWrapper .iconsWrapper span:hover {
            cursor: pointer; }
        #posts .postWrapper .remarkWrapper .iconsWrapper span:nth-child(1) {
          background-image: url("../assets/praise.png"); }
        #posts .postWrapper .remarkWrapper .iconsWrapper span:nth-child(2) {
          background-size: 23px 23px;
          background-image: url("../assets/message.png"); }
        #posts .postWrapper .remarkWrapper .iconsWrapper span:nth-child(3) {
          background-image: url("../assets/resend.png"); }
      #posts .postWrapper .remarkWrapper span.scanText {
        position: absolute;
        display: block;
        left: 0px;
        bottom: 0px;
        margin: auto;
        color: gray; }
    #posts .postWrapper .remarkPanel {
      position: relative; }
      #posts .postWrapper .remarkPanel .remarkTexts {
        padding: 3px 0px;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #posts .postWrapper .remarkPanel .remarkTexts div.spanWrapper {
          position: relative; }
          #posts .postWrapper .remarkPanel .remarkTexts div.spanWrapper span.text, #posts .postWrapper .remarkPanel .remarkTexts div.spanWrapper p.time {
            color: #A6A6A6;
            font-size: 12px; }
          #posts .postWrapper .remarkPanel .remarkTexts div.spanWrapper span.rusername, #posts .postWrapper .remarkPanel .remarkTexts div.spanWrapper p.time {
            margin-left: 5px; }
      #posts .postWrapper .remarkPanel .remarkTexts:nth-child(1) {
        border-top: 2px solid #1F1F1F;
        margin-top: 10px; }
    #posts .postWrapper .remarkInput {
      position: relative;
      min-height: 30px;
      line-height: 30px;
      margin-top: 16px; }
      #posts .postWrapper .remarkInput .ant-input:focus {
        border: 1px solid #1F1F1F; }
      #posts .postWrapper .remarkInput .ant-input {
        padding-left: 10px !important;
        border: 1px solid #1F1F1F; }
      #posts .postWrapper .remarkInput .ant-input:hover {
        border: 1px solid #1F1F1F; }
      #posts .postWrapper .remarkInput .textAreaWrapper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column; }
        #posts .postWrapper .remarkInput .textAreaWrapper div {
          display: flex;
          justify-content: flex-end;
          padding: 7px 5px 0 5px; }
          #posts .postWrapper .remarkInput .textAreaWrapper div .ant-btn {
            background: #808080 !important;
            color: white !important;
            border: 1px solid #1F1F1F !important; }

.ant-avatar-lg {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%; }

/*# sourceMappingURL=ShareContents.css.map */
