#specialUpload{
    position: relative;
    height: 100%;
    .camera{
        position: relative;
        height: 100%;
        background-repeat: no-repeat !important;
        width: 80px;
        background-position: 50% 50% !important;
        background-size: 50px 50px !important;
        input[type='file']{
            position: relative;
            width: 100%;
            height: 100%;
            display: inline-block;
            opacity: 0;
        }
    }
}